<div class="action-selection-dialog">
  <h3>
    {{localize "from-time-management.add-action"}} {{localize "from-time-management.for"}}:
    <strong>{{agentName}}</strong>
  </h3>

  <h4>{{localize "from-time-management.choose-action-template"}}:</h4>
  <div class="action-templates-scroll">
    <div class="action-templates">
      {{#each actionTemplates}}
        <div class="action-template" data-name="{{name}}" data-cost="{{cost}}">
          <div class="action-template-name">{{name}}</div>
          <div class="action-template-cost">{{cost}}h</div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="custom-action-section">
    <h4>{{localize "from-time-management.or-create-custom"}}:</h4>
    <input type="text" class="custom-action-input" id="custom-action-name"
           placeholder="{{localize "from-time-management.action-name-placeholder"}}">
    <input type="number" class="custom-action-input" id="custom-action-cost"
           placeholder="{{localize "from-time-management.cost-in-hours-placeholder"}}" min="1" max="12">
  </div>

  <div class="action-selection-buttons">
    <button type="button" class="time-button" data-action="confirmAction">
      <i class="fas fa-plus"></i> {{localize "from-time-management.add-action"}}
    </button>
    <button type="button" class="time-button" data-action="cancelAction">
      <i class="fas fa-times"></i> {{localize "from-time-management.cancel"}}
    </button>
  </div>
</div>
